<%- include('../partials/adminHeader.ejs') %>.

<div class="container col-xxl-8 px-4 py-5">
    <div class="row">
        <div class="col-md-9 m-auto">
            <h4>Filtres</h4>
            <hr>
            <h5>Entreprise</h5>
            <select class="form-select" id="entrepriseFilter">
                <option value="">Toutes les entreprises</option>
              <% organisations.forEach((organisation) => { %>
                <option value="<%= organisation.nom %>"><%= organisation.nom %></option>
              <% }) %>
            </select>

            <div class="accordion mt-4" id="demandesAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="nouvellesDemandesHeader">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#nouvellesDemandesCollapse" aria-expanded="true"
                                aria-controls="nouvellesDemandesCollapse">
                            Nouvelles demandes
                        </button>
                    </h2>
                    <div id="nouvellesDemandesCollapse" class="accordion-collapse collapse show"
                         aria-labelledby="nouvellesDemandesHeader" data-bs-parent="#demandesAccordion">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Entreprise</th>
                                    <th scope="col">Détails</th>
                                    <th scope="col">Statut</th>
                                </tr>
                                </thead>
                                <tbody id="demandesTableBody">
                                <% users.forEach((user) => { %>
                                    <tr class="demandeRow">
                                        <td><%= user.email %></td>
                                        <td><%= user.nom %></td>
                                        <td><%= user.prenom %></td>
                                        <td><%= user.organisation.nom %></td>
                                        <td>
                                            <a href="/admin/demande/<%= user.email %>"
                                               class="btn btn-outline-primary btn-sm">Détails</a>
                                        </td>
                                        <td>
                                            <a href="/admin/refuserDemande/<%= user.email %>" type="button"
                                               class="btn btn-danger btn-sm">Refuser</a>
                                            <a href="/admin/accepterDemande/<%= user.email %>" type="button"
                                               class="btn btn-success btn-sm">Accepter</a>
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="anciennesDemandesHeader">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#anciennesDemandesCollapse" aria-expanded="false"
                                aria-controls="anciennesDemandesCollapse">
                            Anciennes demandes
                        </button>
                    </h2>
                    <div id="anciennesDemandesCollapse" class="accordion-collapse collapse"
                         aria-labelledby="anciennesDemandesHeader" data-bs-parent="#demandesAccordion">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Entreprise</th>
                                    <th scope="col">Détails</th>
                                    <th scope="col">Statut</th>
                                </tr>
                                </thead>
                                <tbody id="oldDemandesTableBody">
                                <% oldUsers.forEach((user) => { %>
                                    <tr class="demandeRow">
                                        <td><%= user.email %></td>
                                        <td><%= user.nom %></td>
                                        <td><%= user.prenom %></td>
                                        <td><%= user.organisation.nom %></td>
                                        <td>
                                            <a href="/admin/demande/<%= user.email %>"
                                               class="btn btn-outline-primary btn-sm">Détails</a>
                                        </td>
                                        <td class="<%= user.demande_organisation === 'acceptation' ? 'text-success' : (user.demande_organisation === 'refus' ? 'text-danger' : '') %>">
                                            <%= user.demande_organisation === 'acceptation' ? 'Accepté' : (user.demande_organisation === 'refus' ? 'Refusé' : '') %>
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function filterDemandes() {
                    const entrepriseFilter = document.querySelector("#entrepriseFilter").value;

                    const demandeRows = document.querySelectorAll(".demandeRow");
                    demandeRows.forEach((row) => {
                        const entrepriseCell = row.querySelector("td:nth-child(4)");
                        const entrepriseValue = entrepriseCell.textContent.trim();

                        const shouldShowRow = (
                            entrepriseFilter === "" || entrepriseValue === entrepriseFilter
                        );

                        row.style.display = shouldShowRow ? "table-row" : "none";
                    });
                }

                const entrepriseFilter = document.querySelector("#entrepriseFilter");
                entrepriseFilter.addEventListener("change", filterDemandes);
            </script>
        </div>
    </div>
</div>
