
<%- include('../partials/adminHeader.ejs') %>.

<div class="container col-xxl-8 px-4 py-5">
    <div class="row">
        <div class="col-md-3">
                    <h4>Filtres</h4>
                    <hr>
                    <h5>Salaire</h5>
                    <input type="range" class="form-range" id="salary" min="0" max="100000" step="1000"
                           onmouseup="updateSalaryValue()">
                    <p class="text-muted">Salaire minimum : <span id="salary-value"></span></p>
                    <h5>Région</h5>
                    <select class="form-select" id="region" name="region" onchange="updateRegionValue()">
                        <option value="all">Toutes les régions</option>
                        <% regions.forEach((region) => {
                        %>
                            <option value="<%= region %>"><%= region %></option>
                        <% }) %>
                    </select>
                </div>
        <div class="col-md-9">
            <h4>Offres d'emploi</h4>
            <% offers.forEach((offer) => {%>
                <div class="border-1 border p-2 my-2">
                    <h4 class=""><%= offer.ficheDePoste.typeMetier %> <span class="badge text-bg-secondary float-end">45000 €</span></h4>
                    <p><%= offer.ficheDePoste.description %></p>
                    <p>Organisation : <%= offer.ficheDePoste.siren %></p>
                    <a href="/admin/offre/<%= offer.numero %>" class="btn btn-primary">Détail</a>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<script src="js/filter.js"></script>
</body>
</html>
