<%- include('../partials/adminHeader.ejs') %>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-4 text-center">Informations Utilisateur</h3>
        <form class="needs-validation mt-2" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label fw-bold">Nom</label>
                <input type="text" class="form-control" value="<%= user.nom %>" readonly>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label fw-bold">Prénom</label>
                <input type="text" class="form-control" value="<%= user.prenom %>" readonly>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label fw-bold">Courriel</label>
                <input type="text" class="form-control" value="<%= user.email %>" readonly>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label fw-bold">Téléphone</label>
                <input type="text" class="form-control" value="<%= user.telephone %>" readonly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label fw-bold">Date</label>
                <input type="text" class="form-control" value="<%= user.dateCreation %>" readonly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label fw-bold">Statut</label>
                <input type="text" class="form-control <%= user.statut === 1 ? 'text-success' : 'text-danger' %>" value="<%= user.statut === 1 ? 'Actif' : 'Inactif' %>" readonly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label fw-bold">Rôle</label>
                <input type="text" class="form-control" value="<%= user.role %>" readonly>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label fw-bold">Demande à rejoindre une organisation</label>
                <input type="text" class="form-control" value="<%= user.demande_organisation ? user.demande_organisation : 'Aucune' %>" readonly>
              </div>
            </div>
          </div>

          <% if (user.organisation.siren) { %>
            <hr class="my-4">
            <h3 class="mb-3 text-center">Organisation</h3>
            <div class="row g-3">
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label fw-bold">Entreprise</label>
                  <input type="text" class="form-control" value="<%= user.organisation.nom %>" readonly>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label fw-bold">Siège social</label>
                  <input type="text" class="form-control" value="<%= user.organisation.siege %>" readonly>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="mb-3">
                  <label class="form-label fw-bold">Type</label>
                  <input type="text" class="form-control" value="<%= user.organisation.type %>" readonly>
                </div>
              </div>

              <div class="col-md-2">
                <div class="mb-3">
                  <label class="form-label fw-bold">Siren</label>
                  <input type="text" class="form-control" value="<%= user.organisation.siren %>" readonly>
                </div>
              </div>
            </div>
          <% } %>

          <hr class="my-4">

          <div class="d-flex gap-2 justify-content-center py-2">
            <a href="/admin/utilisateurs" class="btn btn-primary">Retour</a>
            <a href="/admin/modifierUtilisateur/<%= user.email %>" class="btn btn-warning">Modifier</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Supprimer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <a href="/admin/supprimerUtilisateur/<%= user.email %>" class="btn btn-danger">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
