<%- include('../partials/adminHeader.ejs') %>.

<div class="container col-xxl-8 px-4 py-5">
    <div class="row">
        <div class="col-md-3">
            <h4>Filtres</h4>
            <hr>
            <h5>Entreprise</h5>
            <select class="form-select" id="entreprise">
                <option value="">Toutes les entreprises</option>
              <% organisations.forEach((organisation) => { %>
                <option value="<%= organisation.nom %>"><%= organisation.nom %></option>
              <% }) %>
            </select>

            <h5 class="mt-3">Profil</h5>
            <select class="form-select" id="profil">
                <option value="">Toutes les profils</option>
                <option value="Candidat">Candidat</option>
                <option value="Recruteur">Recruteur</option>
                <option value="Administrateur">Administrateur</option>
            </select>
        </div>

        <div class="col-md-9">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Profil</th>
                    <th scope="col">Détails</th>
                </tr>
                </thead>
                <tbody id="usersTableBody">
                    <% users.forEach((user) => { %>
                    <tr class="userRow">
                        <th scope="row"><%= user.mail %></th>
                        <td><%= user.nom %></td>
                        <td><%= user.prenom %></td>
                        <td><%= user.organisation.nom ? user.organisation.nom : 'Aucune' %></td>
                        <td>
                            <% if (user.role === 'Candidat') { %>
                            <span class="badge bg-success"><%= user.role %></span>
                            <% } else if (user.role === 'Recruteur') { %>
                            <span class="badge bg-primary"><%= user.role %></span>
                            <% } else if (user.role === 'Administrateur') { %>
                            <span class="badge bg-dark text-light"><%= user.role %></span>
                            <% } %>
                        </td>
                        <td><a href="/admin/utilisateur/<%= user.email %>" class="btn btn-outline-primary btn-sm">Détails</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function filterUsers() {
        const entrepriseFilter = document.querySelector("#entreprise").value;
        const profilFilter = document.querySelector("#profil").value;

        const userRows = document.querySelectorAll(".userRow");
        userRows.forEach((row) => {
            const entrepriseCell = row.querySelector("td:nth-child(4)");
            const profilCell = row.querySelector("td:nth-child(5)");

            const entrepriseValue = entrepriseCell.textContent.trim();
            const profilValue = profilCell.textContent.trim();

            const shouldShowRow = (
                (entrepriseFilter === "" || entrepriseValue === entrepriseFilter)
                && (profilFilter === "" || profilValue === profilFilter)
            );

            row.style.display = shouldShowRow ? "table-row" : "none";
        });
    }

    // Ajouter l'écouteur d'événement pour le changement de filtre
    const filters = document.querySelectorAll("#entreprise, #profil");
    filters.forEach((filter) => {
        filter.addEventListener("change", filterUsers);
    });
</script>

</body>
</html>
