<%- include('partials/header.ejs') %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 center">
            <img src="images/logiciel-de-recrutement-1024x575.webp" class="d-block mx-lg-auto img-fluid"
                 alt="Bootstrap Themes" width="700"
                 height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Site de recrutement</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/login">Se connecter pour voir
                    les offres</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Filtres</h4>
            <hr>
            <h5>Salaire</h5>
            <input type="range" class="form-range" id="salary" min="0" max="10000" step="100"
                   onmouseup="updateSalaryValue()">
            <p class="text-muted">Salaire minimum : <span id="salary-value"></span></p>
            <h5>Région</h5>
            <select class="form-select" id="region" name="region" onchange="updateRegionValue()">
                <option value="all">Toutes les régions</option>
                <% regions.forEach((region) => {
                %>
                    <option value="<%= region %>"><%= region %></option>
                <% }) %>
            </select>
        </div>
        <div class="col-md-9">
            <h4>Offres d'emploi</h4>
            <div id="offers">

                <% offers.forEach((offer) => { %>
                    <div class="border-1 border p-2 my-2">
                        <h4 class=""><%= offer.ficheDePoste.typeMetier %> <span
                                    class="badge text-bg-secondary float-end">45000 €</span>
                        </h4>
                        <p><%= offer.ficheDePoste.description %></p>
                        <p>Organisation : <%= offer.ficheDePoste.siren %></p>
                        <a href="/canditature/<%= offer.numero %>" class="btn btn-primary">Postuler</a>
                    </div>
                <% }) %>
            </div>

        </div>


    </div>
</div>
<script src="js/filter.js"></script>
</body>
</html>
